<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-filiere-heading" data-cy="FiliereCreateUpdateHeading" jhiTranslate="firstAppJHipsterApp.filiere.home.createOrEditLabel">
        Create or edit a Filiere
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="firstAppJHipsterApp.filiere.codeFiliere" for="field_codeFiliere">Code Filiere</label>
          <input
            type="number"
            class="form-control"
            name="codeFiliere"
            id="field_codeFiliere"
            data-cy="codeFiliere"
            formControlName="codeFiliere"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="firstAppJHipsterApp.filiere.nomFiliere" for="field_nomFiliere">Nom Filiere</label>
          <input
            type="text"
            class="form-control"
            name="nomFiliere"
            id="field_nomFiliere"
            data-cy="nomFiliere"
            formControlName="nomFiliere"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="firstAppJHipsterApp.filiere.typeFiliere" for="field_typeFiliere">Type Filiere</label>
          <input
            type="text"
            class="form-control"
            name="typeFiliere"
            id="field_typeFiliere"
            data-cy="typeFiliere"
            formControlName="typeFiliere"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="firstAppJHipsterApp.filiere.ecole" for="field_ecole">Ecole</label>
          <select class="form-control" id="field_ecole" data-cy="ecole" name="ecole" formControlName="ecole" [compareWith]="compareEcole">
            <option [ngValue]="null"></option>
            <option [ngValue]="ecoleOption" *ngFor="let ecoleOption of ecolesSharedCollection">{{ ecoleOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
