<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="filiere">
      <h2 data-cy="filiereDetailsHeading"><span jhiTranslate="firstAppJHipsterApp.filiere.detail.title">Filiere</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ filiere.id }}</span>
        </dd>
        <dt><span jhiTranslate="firstAppJHipsterApp.filiere.codeFiliere">Code Filiere</span></dt>
        <dd>
          <span>{{ filiere.codeFiliere }}</span>
        </dd>
        <dt><span jhiTranslate="firstAppJHipsterApp.filiere.nomFiliere">Nom Filiere</span></dt>
        <dd>
          <span>{{ filiere.nomFiliere }}</span>
        </dd>
        <dt><span jhiTranslate="firstAppJHipsterApp.filiere.typeFiliere">Type Filiere</span></dt>
        <dd>
          <span>{{ filiere.typeFiliere }}</span>
        </dd>
        <dt><span jhiTranslate="firstAppJHipsterApp.filiere.ecole">Ecole</span></dt>
        <dd>
          <div *ngIf="filiere.ecole">
            <a [routerLink]="['/ecole', filiere.ecole.id, 'view']">{{ filiere.ecole.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/filiere', filiere.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
